<div id="nice_01" class="be_nice reminder1 rounded_box drop_shadow" style="display:none">
  Is this constructive?
</div>
<div id="nice_02" class="be_nice reminder2 rounded_box drop_shadow" style="display:none">
  We're here to help, not hurt.
</div>
<div id="nice_03" class="be_nice reminder3 rounded_box drop_shadow" style="display:none">
  Words can hurt. Be honest but kind.
</div>
