<div id="empty_account" class="notify_box rounded_box drop_shadow">
  <h2 class="page_title knew">Welcome to failin.gs, <%= @user.login %>!</h2>
  <p>
    You have a brand new account here. That means you need to
    <strong>get your account out there</strong> for your friends to see!
  </p>
  <p>
    There are a few ways to do this!
  </p>
  <%= render "failings/blast_methods" %>
</div>
