<div class="feedback rounded_box drop_shadow empty"<%= ' style="display: none;"'.html_safe if any %>>
  <h2>This category is empty</h2>
  <% if @user == current_user %>
    <p>You can categorize your feedback in to this bucket by dragging and dropping items in to it.</p>
  <% end %>
</div>
