<div id="flash_msg_container" class="notify_box flash rounded_box drop_shadow">
  <h3 class="mod_title"><%= flash[:notice] %></h3>
  <%= link_to "x", "#", onclick: "$('flash_msg_container').fade();", class: "close" %>
</div>
