<div class="failing flaw_box private">
  <h3>This profile is private</h3>
  <div class="feedback">
    <div class="feedback_text">
      <p>
        <%= @user.login %> has opted to make their profile "private."  This means you can leave feedback for them,
        but you can't see what other people have said about them.
      </p>
    </div>
  </div>
</div>