<div class="failing flaw_box public" id="public_notice">
  <h3 class="no_idea">This profile is public (<%= link_to "hide this", preferences_path(key: "hide_public_notice", value: "true"), method: :post, remote: true %>)</h3>
  <div class="feedback rounded_box drop_shadow">
    <p>To make your account private, <%= link_to "visit your profile settings", edit_account_path %>.</p>
  </div>
</div>
