<p>
  <strong>failin.gs</strong> is a community where you can anonymously
  critique your friends' various personality flaws.</p>
<p>
  This is a place for <strong>constructive criticism</strong>! We're here to
  help one another, not hurt one another. So, please, be nice.
</p>
<p>
  It's important for us to make sure that the people who leave
  feedback actually know the person they're critiquing.
</p>
<p>
  In order to post this feedback, please enter the answer to your friend's
  question:
</p>
