[submodule "vendor/bundler"]
	path = vendor/bundler
	url = git://github.com/wycats/bundler.git
[submodule "vendor/plugins/gravatar-plugin"]
	path = vendor/plugins/gravatar-plugin
	url = git://github.com/woods/gravatar-plugin.git
