<p>
  Want to increase the exposure of your profile to friends and family?  Enter their email addresses below, and we'll
  tell them about your failin.gs profile.
</p>
<p>
  <a href="#" onclick="$('email_preview').appear();">What will my email look like?</a>
</p>
<%= render "shares/form" %>