<% title "Share your profile" %>

<%= render "common/flash_message" %>

<h2 class="page_title knew">Reveal your profile <span>Get the word out to your friends</span></h2>
<%= render "shares/send_emails" %>
