<li>
  <%= link_to avatar_for(facebook_friend, size: 50), profile_path(facebook_friend) %>
  <%= link_to facebook_friend.login, profile_path(facebook_friend) %>
  <%= render partial: "failings/bookmark", object: facebook_friend %>
</li>
