<% div_for friend do %>
  <%= link_to avatar_for(friend, size: 32), profile_path(friend) %>
  <%= link_to friend.login, profile_path(friend), :class => "profile_link" %>
  <span>(User <a href="http://twitter.com/<%= friend.twitter_screen_name %>">@<%= friend.twitter_screen_name %></a> on Twitter)</span>
<% end %>
