<h3 class="mod_title">Didn't find anyone!</h3>
<p>
  We couldn't find anyone.
  Perhaps you should
  <a href="http://twitter.com/home?status=There's+this+site+@failings+that+lets+your+friends+give+you+completely+anonymous+feedback.+ha!+http%3A%2F%2Ffailin.gs%2F">tweet about us</a> and tell them to join!
</p>
<p>
  You could also <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Ffailin.gs&src=sp">mention us on Facebook</a>
</p>
