<% title "Find your friends on Failin.gs" %>
<%= render "friends_headline" %>
<div class="sub_nav">
  <%= render "sub_nav_nav" %>
  <div class="sub_nav_body">
    <h3 class="mod_title">Your current bookmarks</h3>
    <ul class="bookmarks">
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
      <li><a class="bookmark on" href="#">dep</a> <a class="delete" style="display:none" href="#">delete?</a></li>
    </ul> 
  </div>
</div>
