<% title "Find your friends on Failin.gs" %>
<h2 class="knew page_title">Who's on Failin.gs? <span>Find them here!</span></h2>
<div class="sub_nav">
  <%= render "sub_nav_nav" %>
  <div class="sub_nav_body">
    <p>
      The ability to scan your address book is coming soon. 
    </p>
  </div>
</div>
