<% title "Find your friends on Failin.gs" %>
<h2 class="knew page_title">Who's on Failin.gs? <span>Find them here!</span></h2>
<div class="sub_nav">
  <%= render "sub_nav_nav" %>
  <div class="sub_nav_body">
    <h3 class="mod_title">Check your Flickr Contacts</h3>
    <p>
      Using the magic of open API, we can also see which of your flickr photo buddies are
      using failin.gs! Just put your username in the field below and we'll link up your
      account.
    </p>
    <form>
      <fieldset>
        <label for="flickr_user">Flickr Username:</label>
        <input type="text"/>
        <input type="submit" value="Go!"/>
      </fieldset>
    </p>
  </div>
</div>
