<% title "Find your friends on Failin.gs" %>
<h2 class="knew page_title">Who's on Failin.gs? <span>Find them here!</span></h2>
<div class="sub_nav">
  <%= render "sub_nav_nav" %>
  <div class="sub_nav_body">
    <h3 class="mod_title">Find your friends!</h3>
    <p>
      We understand you're probably eager to find the people you know that have failin.gs accounts.
      We want to make it as easy as possible for you to accomplish this.
    </p>
    <p>
      Choose one of the methods above to find your friends. We will scan your Twitter
      followers and your Facebook friends to see who is on failin.gs!
    </p>
    <p>
      <strong>Choose an option above to get started!</strong>
    </p>
  </div>
</div>
