<% title "Find your friends on Failin.gs" %>
<h2 class="knew page_title">Who's on Failin.gs? <span>Find them here!</span></h2>
<div class="sub_nav">
  <ul>
    <li><a href="/friends/email">Email Contacts</a></li>
    <li class="active"><a href="/friends/twitter">Twitter Followers</a></li>
    <li><a href="/friends/facebook">Facebook Friends</a></li>
  </ul>
  <div class="sub_nav_body">
    <p>
      Hi.
    </p>
  </div>
</div>
