  </div>
  <div id="failings_email_footer">
    <p>
      You've received this email because you have an account at <a href="http://failin.gs">http://failin.gs/</a><br/>
      If you would like to stop receiving emails, visit the site today and update your<br/>
      email preferences.
    </p>
  </div>
</div>
