/* ------------------------
    container and homepage
   ----------------------*/
body, html {
  margin:0; 
}
body {
  background-color:#7479b7;
  font-size:62.5%;
  text-align:center;
  font-family:Helvetica, Arial; 
}
#container, #footer {
  width:80%;
  min-width:860px;  
}
#container {
  position:relative;
  margin:20px auto 5px;
  -moz-border-radius: 10px 10px 10px 10px; 
  -webkit-border-top-left-radius:10px;
  -webkit-border-bottom-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  background-color:#fff;
  text-align:left;
  padding:5px 20px;
  overflow:hidden;
}
.col {
  float:left;
  zoom:1; 
}
.col_1 {
  padding-right:20px;
  width:70%; 
}
.col_2 {
  float:right;
  width:27%;
}
#footer {
  margin:0 auto;
  color:#ddd;
}
a, a:visited {
  color:#7479b7;
  text-decoration:none;
}
a:hover {
  text-decoration:underline; 
}
h1 {
  text-indent:-9999px;
  background:url(../images/logo.png) top left no-repeat;
  width:277px;
  height:50px;
}
p {
  color:#444;
  font-size:16px; 
}
blockquote {
  border:1px dashed #666; 
  background-color:#d8f783;
  padding:10px;
  font-size:32px;
  font-weight:bold;
  color:#777;
}
#signup, .announce {
  float:right;
  position:relative;
  -moz-border-radius: 10px 10px 10px 10px; 
  -webkit-border-top-left-radius:10px;
  -webkit-border-bottom-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  border-style:dashed;
  border-width:1px;
  border-color:#777;
  padding:0 10px 10px;  
  margin:10px 0;
  background-color:#222;
}
#signup h2 {
  color:#eee;
  font-size:18px;
}
#signup p {
  color:#aaa; 
  margin-bottom:0;
}
fieldset, a img {
  border:0;
}
label {
  display:block; 
  padding-top:5px;
  color:#eee;
  font-size:12px;
}
label.checkbox {
  display:inline; 
}
input, textarea {
  border:1px solid #bbb;
  font-size:17px;
  margin-bottom:5px;
  width:95%;
  color:#666;
  font-weight:bold;
  padding:3px;
}
input[type="submit"] {
  background-color:#7479b7;
  color:#fff;
  margin-top:10px; 
  margin-bottom:0;
  width:auto;
}
input[type="checkbox"] {
  width:auto; 
}
#logged_in {
  position:absolute;
  right:8px;
  top:8px; 
}
#logged_in ul {
  list-style:none; 
  margin:0;
}
#logged_in ul li {
  float:left;
  padding:0 5px;
  border-right:1px solid #ccc;
}
#logged_in ul li:last-child {
  border-right:0;
}

/* ------------------------
    profile
   ----------------------*/
.body {
  overflow:hidden;
  width:100%;
  border-top:1px dashed #aaa;
  padding-top:20px; 
  color:#666;
  overflow:hidden;
  zoom:1; 
}
#user_profile {
  padding-bottom:10px;
  width:230px;
  float:left;
}
.pic_area img {
  display:block;
  margin:0 auto;
  border:1px solid #aaa;
}
.pic_area a {
  display:block;
  text-align:center; 
}
.user_details {
  font-size:14px; 
  padding-left:20px;
}
.user_details span, .user_details label {
  display:block;
  padding-top:10px;
  color:#333;
  font-size:17px;
}
.announce {
  background-color:#ccc;
  border-style:solid;
  margin-top:0px;
}
.announce .share_links {
  display:inline-block;
  margin:0 2px
}
.announce blockquote {
  font-size:12px; 
  margin-left:10px;
}
.announce label {
  color:#666; 
}
.announce h2 {
  margin:0;
  padding-top:20px; 
}
.floating_box {
  width:300px;
  -moz-border-radius: 10px 10px 10px 10px; 
  -webkit-border-top-left-radius:10px;
  -webkit-border-bottom-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  border-style:solid;
  border-width:1px;
  border-color:#777;
  position:absolute;
  padding:20px 10px;
  background-color:#222;
  opacity:0.9;
}
.floating_box p {
  font-size:12px;
  color:#eee;
}
.floating_box .close {
  position:absolute;
  top:0;
  right:5px;
  color:#fff;
  font-size:30px;
}
#box_important {
  top:20px;
  left:260px;
}
#box_validate {
  top:70px;
  left:320px;
}
#flaw_area {
  float:left;
  width:605px;
  border-left:1px solid #ddd;
  padding-left:10px;
  margin-left:5px;
}                              
#flaw_area fieldset#flaw_entry h2 {
  margin:0 0 10px 0;
  font-size:36px;
}
#flaw_area fieldset#flaw_entry textarea {
  width:450px;
  font-weight:normal;
  font-size:18px;
  font-family:Helvetica, Arial;
  float:left;
  height:50px;
}
#flaw_area fieldset button {
  font-size:24px;
  float:left;
  height:59px;
  margin-left:10px;
  cursor:pointer;
}
.flaw_box {
  display:block;
  width:95%;
  float:left;
  margin:0 5px 20px;
  border-style:solid;
  border-width:1px;
  border-color:#777;
  padding:5px
}
.flaw_box.unrated {
  background-color:#777; 
}
.flaw_box.known {
  background-color:#5cc931;
}
.flaw_box.unknown {
  background-color:#edef43;
}
.flaw_box.disagree {
  background-color:#d71919;
}
.flaw_box h3 {
  margin:0;
  padding:0; 
  color:#fff;
}
.flaw_box.unknown h3 {
  color:#333;
}
.flaw_box .feedback {
  display:block;
  -moz-border-radius: 3px 3px 3px 3px; 
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  background-color:#fff;
  padding:5px;
  margin:10px 0;
}
.flaw_box .feedback .toolbar {
  display:block;
  background-color:#eee;
  text-align:right;
  border-bottom:1px solid #aaa;
  padding:7px;
}
.flaw_box .feedback .toolbar.bottom {
  border-top:1px solid #aaa;
  border-bottom:0;
  background-color:#f3f3f3;
}
.flaw_box .feedback p {
  font-size:13px; 
}

/* Profile edit */
#user_profile.edit {
  width:100%;
}
#user_profile.edit .pic_area {
  float:left;
  width:200px;
}
#user_profile.edit .user_details {
  float:left;
  font-size:14px; 
  padding-left:20px;
  width:370px;
}
#user_profile.edit .announce {
  width:220px;
}