<h2 class="page_title no_idea">Failin.gs Moderation Queue</h2>

<%= render "flash_message" if flash[:notice] %>

<div class="flaw_box unrated drop_shadow rounded_box">
  <h3>
    Needs review
  </h3>
  <div id="failing_27" class="failing feedback rounded_box drop_shadow unrated">  
    <div class="toolbar">
    </div>
    <div class="feedback_text">
      <p>qweqweqwe</p>
      <span class="create_date"><a title="Permalink" href="http://localhost:3000/profile/dep/failings/27">02/11/2010, 01:56pm</a></span>
    </div>
    <div class="toolbar bottom">
      <div class="right">
        <a rel="nofollow" data-remote="true" data-method="post" data-confirm="Really report abuse?" class="abuse" href="/profile/dep/failings/27/abuse">report abuse</a>
      </div>
    </div>
  </div> 
</div>
