<style type="text/css">
  #failings_flaw_area fieldset#flaw_entry h2 {
    margin:0 0 10px 0!important;
    font-size:36px!important;
  }
  #failings_flaw_area #flaw_entry .errorExplanation h2 {
    font-size:20px!important;
  }
  #failings_flaw_area fieldset#flaw_entry textarea {
    width:450px!important;
    font-weight:normal!important;
    font-size:18px!important;
    font-family:Helvetica, Arial!important;
    float:left!important;
    height:50px!important;
  }
  #failings_flaw_area .char_limit {
    display:block!important;
    clear:both!important;
  }
  #failings_flaw_area fieldset button {
    font-size:24px!important;
    float:left!important;
    height:59px!important;
    margin-left:10px!important;
    cursor:pointer!important;
  }
</style>
<div id="failings_flaw_area">
  <%= render :partial => "failings/failings_form" %>
</div>
