<% title "Thank you!" %>

<div class="forum">
  <h2 class="page_title knew">Discussion Forums<span>See news, discuss features, or just gab.</span></h2>
  <script type="text/javascript" src="http://95wfwv5wah.embed.tal.ki/embed/1.js"></script><div style="font-size:80%; text-align:center;" class="talki_promo">get your own <a href="http://tal.ki">embeddable forum</a> with Talki</div>
</div>
