<div>
  <h2 class="page_title happy">Invite a Friend <span>Extend the fun!</span></h2>
  <p>Do you know someone who could benefit from having an account at <strong>failin.gs</strong>? Perhaps someone who could use some anonymous feedback, if you know what we mean?
  <p>Just enter their email address below and we'll let them know about our site.</p>
  <blockquote>
    We won't even tell them who sent it.
  </blockquote>
  <p>We'll let you know when they sign up so you can fill in their flaws ;)</p>
  <form action="" method="">
    <fieldset class="invite">
      <label>
        Who do you want to invite?
      </label>
      <input type="text" id="invite_email" name="invite_email" />
      <input type="submit" value="Invite" />
    </fieldset>
  </form>
</div>
