<h2 class="page_title knew">Help Us Keep Failin.gs Constructive! <span>Be a moderator</span></h2>
<p>
  As you can imagine, one of the challenges here at <strong>failin.gs</strong> is to
  keep the feedback positive and constructive.  This is why we've decided to try a little
  experiment.  We've decided it would be a good idea to let you, our wonderful failin.gs community
  help us by flagging inappropriate failings as "abusive."
</p>
<p>
  We've created an algorithm to serve up questionable user entries to you here, in real-time. If a few
  people say something's abusive, it's removed from the system.  <strong>Boom</strong>. How is that?
</p>
<h3 class="mod_title">Interested in moderating failin.gs</h3>
<p>
  Keep in mind, you may see profanity, racial slurs, and other obscene or otherwise offensive language
  in here. If you're cool with that, understand the risks involved, release us of all liability and are
  breaking no laws in your state by doing so, then <a href="/pages/domoderate">visit the moderation queue</a>.
</p>
