<% title "a platform for completely anonymous feedback" %>

<div class="cols_2 homepage">
  <div class="col col_1">
    <h2>What is failin.gs?</h2>
    <p>
      As humans, we naturally want to know what others think of us, either to boost our egos or to help us know what skills we need to work on. Failin.gs puts the concept of brutal honesty to the test by letting you posit opinions from those who know you, without revealing who says what.
    </p>
    <blockquote>
      failin.gs wants to help you answer that age-old question: "What do people think of me, really?"
    </blockquote>
    <h2>How does it work?</h2>
    <p>Easy.</p>
    <ol>
      <li>First, you <strong>sign up</strong> to create your profile</li>
      <li><strong>Blast</strong> your profile URL to your social circle. Failin.gs is integrated with Facebook and Twitter and makes it easier than ever to put your profile in front of your friends</li>
      <li>Sit back and <strong>watch</strong> the anonymous honesty pour in</li>
    </ol>
    <p>While you wait, you can also <strong>search your social networks</strong> to see <strong>which of your friends</strong> also have failin.gs accounts and can leave
    them anonymous feedback as well!</p>
  </div>
  <div class="col col_2">
    <% if @user_session %>
      <% if @user %>
        <p>Returning user? <a href="#" onclick="show_login()">Log in here</a>.</p>
      <% end %>
      <%= render "user_sessions/form" %>
    <% end %>
    <% if @user %>
      <% if @user_session %>
        <p>New user? Sign up <a href="#" onclick="show_signup()">here</a>.</p>
      <% end %>
      <%= render "users/form" %>
    <% end %>
    <%= render "users/request" %>
    <%= twitter_login %>
  </div>
</div>

