<div class="thankyou">
  <h2 class="page_title knew">Thank you! <span>We got it.</span></h2>
  <p>Look how happy you made us!</p>
  <p>Granted, it's a stock photo, but it is a compelling metaphor for how you made us feel today.</p>
  <p>We'll send you an invite as soon as possible!  Please be patient.</p>
  <a href="/">Home</a> | <a href="http://twitter.com/?status=There's%20this%20site%20@failings%20that%20lets%20your%20friends%20tell%20you%20what's%20wrong%20with%20you%20anonymously.%20ha!%20http%3A%2F%2Ffailin.gs%2F">Tweet about us</a> | <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Ffailin.gs&src=sp">Share this on Facebook</a>
</div>
