<% title "So long, folks!" %>
<h2 class="page_title knew">So long, folks! <span>Thanks for everything.</span></h2>
<p>
It has been a great couple of years, but the founders of failin.gs are moving on to other things. The site has changed hands, and things are getting up and running their new project, <a href="http://youtell.com">youtell.com</a>. Unfortunately, there are no plans for the new owners to migrate your profiles to the new service.  That's out of our hands, but do feel free to jump over, sign up, and continue your path of self-improvement there.
</p>
<p>
We encourage you to log in and save any feedback you might have accumulated. We wish you the best of luck in the future. Take care.
</p>
<p>
The failin.gs team
</p>
