<div>
  <h2 class="page_title knew">Invite a Friend <span>Extend the fun!</span></h2>
  <% if App.beta? && current_user.invites_left > 0 %>
    <p>Do you know someone who could benefit from having an account at <strong>failin.gs</strong>? Perhaps someone who could use some anonymous feedback, if you know what we mean?
    <p>Just enter their email address below and we'll let them know about our site.</p>
    <blockquote>
      We won't even tell them who sent it.
    </blockquote>
    <p>We'll let you know when they sign up so you can fill in their flaws ;)</p>

    <%= render "invitations/form" %>
  <% end %>
  <h3 class="mod_title">Looking to tell people about your profile?</h3>
  <%= render "shares/send_emails" %>
</div>
