<% title "Reset your password?" %>

<h2 class="page_title no_idea">Password Reset <span>Aw, did you forget?</span></h2>
<p>
  Fear not, old friend.  Enter your email address below and we'll forward instructions to you.
</p>
<%= render "form" %>
