<%= render "notifier/header" %>

<p>Hi <%= @user.login %>,</p>

<p>
  We thought you might be interested to know that some of your Facebook friends have recently joined Failin.gs! If you can think of some
  constructive criticism for any of them, you should visit their profile and leave them some feedback.  Or, perhaps you're just curious
  about what other people may have said about them?  Either way, check out their Failin.gs profiles today and take a peek.
</p>
<p>Here are some of your friends we've found on Failin.gs</p>
<p>
  [first name] [last name] from [location]:<br/>
  [failings url]
</p>
<p>
  [first name] [last name] from [location]:<br/>
  [failings url]
</p>
<p>
  Maybe now would be a good time to blast your profile to Facebook and Twitter to get some new feedback!
</p>
<p>
  Take care!<br/>
  The Failin.gs Team
</p>

<%= render "notifier/footer" %>
