<%= render "notifier/header" %>

<p>Hi <%= @user.login %>,</p>

<p>
  We noticed it has been quite a long time since you've logged in to Failin.gs.
  We've added a ton of great features and invite you to come in and try them out.
</p>
<p>
  Did you know that you can now link your Twitter and Facebook accounts to Failin.gs to find
  your friends who have Failin.gs accounts? It's now super-quick and easy to connect with
  friends inside of our site. 
</p>
<p>
  We hope you'll drop in today. Check on your profile, link your accounts, perhaps send out
  a fresh blast to your friends and family to get some new and useful feedback!
</p>
<p>
  Take care!<br/>
  The Failin.gs Team
</p>

<%= render "notifier/footer" %>
