<div class="col col_1 homepage">
  <p>
    <strong>failin.gs</strong> seeks to answer that age old question that perhaps
    all of us have asked ourselves at some point in our lives.
  </p>
  <blockquote>
    "What is wrong with me?"
  </blockquote>
  <p>
    As you know, nobody is perfect. We all have our own idiosyncrasies and
    personality flaws. Just think of all the people you know. We are sure you can 
    identify what they could improve upon. We bet your friends know a thing or two
    about you that you don't know yourself!
  </p>
  <p>
    Create a profile and invite people to leave anonymous constructive criticism
    about your character. We all want to improve, don't we?
  </p>
</div>
<div class="col col_2">
  <div id="signup" class="announce dark">
    <h2>Can you handle the truth?</h2>
    <p>
      We're deep in construction here at failin.gs, but we are hoping to
      launch the site very soon.
    </p>
    <p>
      If you are interested in being part of our <strong>beta launch</strong>, then just
      drop your email address in the box below. We won't use your email for
      any other purpose than to let you know when you can use failin.gs! Promise!
    </p>
    <% remote_form_for @email, :url => email_path do |f| %>
      <fieldset id="email_send">
        <%= f.label :address, "Email address:" %>
        <%= f.text_field :address %>
        <%= f.error_messages %>
        <%= f.submit "Keep me posted" %>
      </fieldset>
    <% end %>
  </div>
</div>
<div class="functionality_teasers">
  <h2>How does it all work?</h2>
  <h3>It's ridiculously easy. Totally anonymous.</h3>
  <ol>
    <li><strong>Sign up</strong> for a free account</li>
    <li><strong>Fill out</strong> your profile</li>
    <li>Announce your URL! Tweet it, post it on Facebook. <strong>Get it out there!</strong></li>
    <li>Sit back and <strong>brace yourself</strong> for honesty you've never gotten before.</li>
  </ol>
  <p>
    Once you start receiving the anonymous feedback, you'll be able to categorize it, and you and your friends
    will be able to agree or disagree, leave comments, and work together to improve your
    personal character! Once they create their account, don't forget to return the favor!
  </p>
  <p>
    When you sign up, you'll be asked for a piece of information that only your friends know.
    This way, you can be sure that only people who know you can write on your profile.
  </p>
</div>
