<fieldset id="signup_form">
  <form>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" maxlength="35" />
    <label for="email">Email Address:</label>
    <input type="text" id="email" name="email" maxlength="35" />
    <label for="passwd">Password:</label>
    <input type="password" id="passwd" name="passwd" maxlength="15" />
    <label for="passwd2">Twice to be sure:</label>
    <input type="password" id="passwd2" name="passwd2" maxlength="15" />
    <label for="surname">
      Your <strong>real</strong> last name:
      (<%= link_to_function "Why we ask", "$('box_important').appear();" %>):
    </label>
    <input type="text" id="surname" name="surname" maxlength="15" />
    <label for="invite_code">Invite Code:</label>
    <input type="text" id="invite_code" name="invite_code" />
    <div class="error_text">Oh noes! errors!</div>
    <input type="submit" value="Sign up!"/>
  </form>
</fieldset>