<% if flash[:notice] %>
  <div id="flash_msg_container" class="notify_box flash rounded_box drop_shadow">
    <h3 class="mod_title"><%= flash[:notice] %></h3>
  </div>
  <script type="text/javascript">
    setTimeout("$('flash_msg_container').fade();", 3000);
  </script>
<% end %>
